@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

#create {
  margin-top: -45px !important;
  font-family: 'Poppins', sans-serif;
}

.card {
  border: 2px solid white !important;
  border-radius: 20px !important;
  box-shadow: 3px 3px #789a9f;
}

.cardContainerCreate {
  height: 485px !important;
  margin-top: 15px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  font-family: 'Poppins', sans-serif;
}

.card-header {
  border-bottom: 1px solid #212529;
  border-radius: 20px 20px 0 0 !important;
  font-size: 23px;
  font-family: 'Poppins', sans-serif;
}

.card-header, .card-footer {
  background: hotpink !important;
  color: #fff;
  text-align: center;
}

.card-body {
  background: #212529;
}

.card-footer {
  border-top: 1px solid hotpink;
  padding-top: 0;
  padding-bottom: 0;
  color:#212529;
  border-radius: 0 0 20px 20px !important;
}
 
.card-footer a {
  color: white;
  font-size: 25px;
}

.card-footer a:hover {
  color: #212529;
}

.portfolioImgCre {
  width: 350px;
  height: 315px;
}

.img-thumbnail {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

.img-thumbnail:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}
