@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

#about {
  margin-top: 15px !important;
  font-family: 'Poppins', sans-serif !important;
}

#aboutInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: -125px;
  margin-left: 35px;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 90px;
  margin-top: 150px;
  height: auto;
  width: 75%;
  border: 3px solid hotpink;
  border-radius: 20px;
  box-shadow: 3px 3px 2px #789a9f;
  padding: 2px;
  font-family: 'Poppins', sans-serif !important;
}

#aboutImgContainer {
  width: 90%;
  margin-left: 20px;
  margin-top: 150px;
}

#aboutImg {
  width: 85%;
  border-radius: 20px;
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

#aboutImg:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

#info h4, #field {
  font-weight: bold;
}

#field {
  color: #789a9f;
}

#creative {
  color: hotpink !important;
  margin-top: 15px;
  margin-bottom: 2px;
}

#developer {
  color: hotpink !important;
  margin-bottom: -10px;
}

#nature {
  text-decoration: underline;
  font-style: italic;
  text-decoration-color: hotpink;
  color: #789a9f;
}

#curious {
  text-decoration: underline;
  font-style: italic;
  text-decoration-color: hotpink;
  color: #789a9f;
}

.btn {
  background-color: hotpink !important;
  font-weight: bold !important;
  border: none !important;
}

.btn:hover {
  font-weight: bold !important;
}

#resume a {
  color: #212529 !important;
}

#resume a:hover {
  color: white !important;
}

@media only screen and (max-width: 768px) {
  #aboutInfo {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }

  #aboutImgContainer {
    margin-left: -35px;
    margin-bottom: -125px;
  }

  #info {
    margin-left: 55px;
  }
}